<% layout("layouts/boilerplate") -%>

<body>
  <form action="/listings/<%= listing._id %>/?_method=PUT" method="POST">
    <h3>Edit this Listings !!!</h3>
    <br /><br />
    <input type="text" value="<%=listing.title%>" name="listing[title]" />
    <br /><br />
    <textarea name="listing[description]" rows="10" cols="50">
      <%=listing.description%>
    </textarea>
    <br /><br />
    <input
      type="text"
      value="<%=listing.image%>"
      name="listing[image]"
    /><br /><br />
    <input
      type="number"
      value="<%=listing.price%>"
      name="listing[price]"
    /><br /><br />
    <input
      type="text"
      value="<%=listing.location%>"
      name="listing[location]"
    /><br /><br />
    <input
      type="text"
      value="<%=listing.country%>"
      name="listing[country]"
    /><br /><br />

    <button>Update</button>
  </form>
</body>
