<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wonderlust</title>
</head>
<body>
    <h2>Details Listing: </h2>
    <li>title : <%=listing.title%></li>
    <li>discription : <%=listing.description%></li>
    <li>price : &#8377; <%=listing.price.toLocaleString("en-IN")%></li>
    <li>location : <%=listing.location%></li>
    <li>country : <%=listing.country%></li>
    <a href="/listings/<%= listing.id%>/edit">Edit this listing</a>

</body>
</html>