<% layout("layouts/boilerplate") -%>

<body>
  <h2>Details Listing:</h2>
  <li>title : <%=listing.title%></li>
  <li>discription : <%=listing.description%></li>
  <% if (listing.price != null) { %>
   <li>Price : &#8377; <%= listing.price.toLocaleString("en-IN") %> / night</li>
  <% } else { %>
    <li>Price : not available </li>
  <% } %>
  <li>location : <%=listing.location%></li>
  <li>country : <%=listing.country%></li>
  <br /><br />
  <a href="/listings/<%= listing.id%>/edit">Edit this listing</a>
  <br /><br />
  <form action="/listings/<%= listing._id %>/?_method=DELETE" method="POST">
    <button>Delete</button>
  </form>
</body>
